*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.btn-translate{

position: absolute;

top: 58vh;

left: 21vw;

background-color: #FDE68A;

padding: 4px;

border: none;
}
    
    #input-text{
        
display: block;
        
height: 14rem;
        
width: 60%;
        
margin: auto;
        
background-color: #FDE68A;
        
border: none;
        
outline: none;
        
overflow: auto;
        
font-size: 2rem;
        
padding: 1rem;
    }
    .translated-area{

height: 30%;

width: 80%;

border: none;

position: absolute;

top: 63vh;

left: 10vw;

background-color: #FDE68A;

font-size: 2rem;

padding: 1rem;
}
h1{

background-color: #FBBF24;

height: 5rem;

text-align: center;

padding: 1rem;
}
.description{

padding: 1rem;

text-align: center;

color: #FBBF24;

font-size: xx-large;
}
